<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gainesville Plant Market </title>
</head>
<body>
  <h1 id = "banner">Gainesville Plant Exchange Market </h1>
    <a href = "/gainesville-plant-market/retailers.html"> -> Growers Directory</a>
    
    <div id ="app">
      <b class="align-right">Wishlist ({{wishlist.length}})</b>
      <div v-for="item in wishlist" class="align-right">
        <i>{{item.screen_name}}</i>
      </div>
      <label for="formMax">Maximum Price: ($)</label>
      <input type="text" id="formMax" v-model="maximum" placeholder="edit me"/>
      <input type ="range" min="0" max="100" v-model="maximum" />
      
      <div v-for="item in plants">
         <div class = "plant"
           v-if="item.price <= Number(maximum)">
         <h3 id="plant-name">{{ item.screen_name }}</h3>
         <img :src="item.image" class ="center">
         <span><button title="Add to Wishlist" v-on:click="addItem(item)">+</button></span>
         <span><b>Average Price: </b>{{ item.price }}</span>
         <span><b>Growers: </b></span>
         <span v-html="item.retailers"><b>Growers: </b></span>
         </div>   
       <br> 
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>